
/*
.titleButton{
  -fx-background-color: #2196f3;
  -fx-border: none;
  -fx-padding: 15px ;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 16px;
  -fx-font-family: Arial;
  -fx-text-fill: #ffffff;
}

.bar{
  -fx-background-color: #8e8e8e;
}*/

.button{
  -fx-background-radius: 10em;
  -fx-background-color: #8e8e8e;
  -fx-border: none;
  -fx-padding: 15px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-family: Arial;
  -fx-text-fill: #ffffff;
}

/*
.specialButton{
  -fx-background-radius: 10em;
  -fx-background-color: #373737;
  -fx-border: none;
  -fx-padding: 15px ;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 14px;
  -fx-font-family: Arial;
  -fx-text-fill: #ffffff;
}*/

.dashboard{
 -fx-background-color: #ffffff;
}

/*
.tableColumn{

   -fx-background-color: #2196f3;
   -fx-font-family: Arial;
   -fx-color: #ffffff;
   -fx-text-fill: #ffffff;
   -fx-highlight-fill: red !important;
   -fx-accent: red !important;
   -fx-highlight-text-fill: red !important;
}

*/
.title{
  -fx-background-color: #373737;
}
.weights{
  -fx-background-color: #8e8e8e;
}

.TextForm{
-fx-background-color: #757575;
}

.saveButton{
   -fx-background-color: #4CAF50;
}

/*
.textFormInput{
 -fx-font-family: Arial;
}

.saveButton{
   -fx-background-color: #4CAF50;
}

.exitButton{
   -fx-background-color: #f44336;
}

.returnButton{
   -fx-background-color: #757575;
}

.play{
  -fx-background-color: #ffffff;
}

.html {
  background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size:cover;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

.body {
  margin: 0;
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands 
}

.hand {
  width:50%;
  height:6px;
  background:black;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
*/